<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basketball Stats</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style media="screen">
      @media(min-width: 992px){
        .container{
        width:920px;
        }
      }

      @media(max-width: 991px){
        .container{
        width:100% !important;
        }
      }

      .bold-label{
        font-weight: bold;
      }

      label{
        //font-weight: bold !important;
        font-size:15px;
        margin: 5px 0px 5px 0px;
      }

      .hide{
        display: none;
      }

      .top-buffer {
          margin-top: 20px;
      }

     .LegendContainer .ColumnTitle {
        font-weight: bold;
     }

        .table td, .table th {
           text-align: center;
        }

    .team-name-label {
        background: #777;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .centered-text-label {
        width: 100%;
        text-align: center;
    }

    </style>
  </head>
  <body>
    <div class="container">

      <div class="row top-buffer">
          <span style="font-weight:bold">Referee:</span> {{model.info.referees[0].getFullNameWithNationality()}}, {{model.info.referees[1].getFullNameWithNationality()}}, {{model.info.referees[2].getFullNameWithNationality() }}
      </div>

      <div class="row">
          <span style="font-weight:bold">Attendance:</span> {{ model.info.attendance }}
      </div>

      <div class="row top-buffer">
        <div class="col-sm-6 col-xs-12">
            <table class="table table-responsive" style="border-collapse:collapse;">
        		<tbody>
                    <tr>
            			<th scope="col">By Quarter</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
            		</tr>
                    <tr>
            			<td>{{model.homeTeam.name}}</td>
                        <td>33</td>
                        <td>17</td>
                        <td>17</td>
                        <td>13</td>
            		</tr>
                    <tr>
            			<td>{{model.awayTeam.name}}</td>
                        <td>21</td>
                        <td>16</td>
                        <td>17</td>
                        <td>12</td>
            		</tr>
            	</tbody>
            </table>
        </div>
        <div class="col-sm-6 col-xs-12">
            <table class="table table-responsive" style="border-collapse:collapse;">
        		<tbody>
                    <tr>
            			<th scope="col">End of Quarter</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
            		</tr>
                    <tr>
            			<td>{{model.homeTeam.name}}</td>
                        <td>33</td>
                        <td>50</td>
                        <td>67</td>
                        <td>80</td>
            		</tr>
                    <tr>
            			<td>{{model.awayTeam.name}}</td>
                        <td>21</td>
                        <td>37</td>
                        <td>54</td>
                        <td>66</td>
            		</tr>
            	</tbody>
            </table>
        </div>
      </div>

      <div class="row top-buffer">
          <label for="#homeTeamTable" class="team-name-label">{{model.homeTeam.name.upper()}}</label>
          <table class="table table-responsive table-hover" id="homeTeamTable">
              <thead>
                    <tr class="sub-header">
                        <th>&nbsp;</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="3" style="">Rebounds</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">Blocks</th>
                        <th colspan="2">Fouls</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Player</th>
                        <th>Min</th>
                        <th>Pts</th>
                        <th>2FG</th>
                        <th>3FG</th>
                        <th>FT</th>
                        <th>O</th>
                        <th>D</th>
                        <th>T</th>
                        <th>As</th>
                        <th>St</th>
                        <th>To</th>
                        <th>Fv</th>
                        <th>Ag</th>
                        <th>Cm</th>
                        <th>Rv</th>
                        <th>PIR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in model.homeTeam.players %}
                    <tr>
                    	<td>{{p.number}}</td>
                    	<td>{{p.getFullNameFormatted()}}</td>
                    	<td>{{p.time_played}}</td>
                    	<td>{{p.points}}</td>
                    	<td>{{p.getFieldGoalsMA()}}</td>
                    	<td>{{p.getThreePointsMA()}}</td>
                    	<td>{{p.getFreeThrowsMA()}}</td>
                    	<td>{{p.rebounds_offensive}}</td>
                    	<td>{{p.rebounds_deffensive}}</td>
                    	<td>{{p.getTotalRebounds()}}</td>
                    	<td>{{p.assists}}</td>
                    	<td>{{p.steals}}</td>
                    	<td>{{p.turnovers}}</td>
                    	<td>{{p.blocks_in_favor}}</td>
                    	<td>{{p.blocks_against}}</td>
                    	<td>{{p.fouls_commited}}</td>
                    	<td>{{p.fouls_received}}</td>
                    	<td>{{p.getPerformanceIndexRating()}}</td>
                    </tr>
                    {% endfor %}                                 
                </tbody>
          </table>
          <label class="centered-text-label"><span class="ColumnTitle">Head coach:</span><span style="font-weight: normal !important;"> {{model.homeTeam.coach.getFullNameFormatted()}}</span></label>
      </div>

      <div class="row top-buffer">
          <label for="#homeTeamTable" class="team-name-label">{{model.awayTeam.name.upper()}}</label>
          <table class="table table-responsive table-hover" id="homeTeamTable">
              <thead>
                    <tr class="sub-header">
                        <th>&nbsp;</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="3" style="">Rebounds</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">Blocks</th>
                        <th colspan="2">Fouls</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Player</th>
                        <th>Min</th>
                        <th>Pts</th>
                        <th>2FG</th>
                        <th>3FG</th>
                        <th>FT</th>
                        <th>O</th>
                        <th>D</th>
                        <th>T</th>
                        <th>As</th>
                        <th>St</th>
                        <th>To</th>
                        <th>Fv</th>
                        <th>Ag</th>
                        <th>Cm</th>
                        <th>Rv</th>
                        <th>PIR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in model.awayTeam.players %}
                    <tr>
                    	<td>{{p.number}}</td>
                    	<td>{{p.getFullNameFormatted()}}</td>
                    	<td>{{p.time_played}}</td>
                    	<td>{{p.points}}</td>
                    	<td>{{p.getFieldGoalsMA()}}</td>
                    	<td>{{p.getThreePointsMA()}}</td>
                    	<td>{{p.getFreeThrowsMA()}}</td>
                    	<td>{{p.rebounds_offensive}}</td>
                    	<td>{{p.rebounds_deffensive}}</td>
                    	<td>{{p.getTotalRebounds()}}</td>
                    	<td>{{p.assists}}</td>
                    	<td>{{p.steals}}</td>
                    	<td>{{p.turnovers}}</td>
                    	<td>{{p.blocks_in_favor}}</td>
                    	<td>{{p.blocks_against}}</td>
                    	<td>{{p.fouls_commited}}</td>
                    	<td>{{p.fouls_received}}</td>
                    	<td>{{p.getPerformanceIndexRating()}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
          </table>
          <label class="centered-text-label"><span class="ColumnTitle">Head coach:</span><span style="font-weight: normal !important;"> {{model.awayTeam.coach.getFullNameFormatted()}}</span></label>
      </div>

      <div class="row top-buffer">
          <div class="LegendContainer">
            <span class="ColumnTitle">Min:</span> Minutes played;
            <span class="ColumnTitle">Pts:</span> Points;
            <span class="ColumnTitle">2FG M-A:</span> 2-point Field Goals (Made-Attempted);
            <span class="ColumnTitle">3FG M-A:</span> 3-point Field Goals (Made-Attempted);
            <span class="ColumnTitle">FT M-A:</span> Free Throws (Made-Attempted);
            <span class="ColumnTitle">Rebounds:</span> O (Offensive), D (Defensive), T (Total);
            <span class="ColumnTitle">As:</span> Assists;
            <span class="ColumnTitle">St:</span> Steals;
            <span class="ColumnTitle">To:</span> Turnovers;
            <span class="ColumnTitle">Blocks:</span> (Fv: In Favor / Ag: Against);
            <span class="ColumnTitle">Fouls:</span> Cm (Commited), Rv (Received);
            <span class="ColumnTitle">PIR:</span> Performance Index Rating
        </div>
      </div>


    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
